.header {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  max-width: 700px;
  margin-bottom: 30px;

  img {
    max-width: 200px;
    object-fit: contain;
    margin-bottom: 1rem;
  }

  p {
    white-space: pre-line;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
    margin: 0;

    // Адаптивка для текста
    @media (max-width: 600px) {
      font-size: 1rem;
      line-height: 1.4;
    }

    @media (max-width: 400px) {
      font-size: 0.9rem;
      line-height: 1.3;
    }
  }
}
